<p id="notice"><%= notice %></p>

<h1>Event</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Duration</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.email %></td>
        <td><%= client.duration %></td>
        <td><%= client.address %></td>
        <td><%= client.phone %></td>
        <td><%= client.comments %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_event_path(client) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
